<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Teaching and learning module"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Dr Xiaojun Chen"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Tutorial 03</title>
        <link rel="shortcut icon" href="https://jununsw.github.io/res/favicon.ico" type="image/vnd.microsoft.icon"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        <script src="https://use.fontawesome.com/582f5b6b01.js"></script>  
        <script src="https://unpkg.com/vue"></script>
        <script src="https://jununsw.github.io/res/util.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.6/jsxgraph.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.6/jsxgraphcore.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body onload="init();">
        <div class="text-center h1" style="padding-top: 20px; padding-bottom: 20px;">
            <strong>Module 03 Ultimate Moment Capacity</strong>
            <div class="h6 bold">Background Color: <input type="color" value="#e0ffff" onchange="changeColor(event);"/></div>
            <div class="text-center h5" style="font-weight: bold;font-style: italic; line-height: 120%;">
                E-learning Module for CVEN 9806 Prestressed Concrete<br/>
                Course Coordinator: A/Prof Mario Attard<br/>
                Module Creator: Dr Xiaojun Chen<br/>
                All Rights Reserved by UNSW<br/>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 1.1em;">
                        <strong>Please first review what you have learnt in class using tab "Demo"; then answer the question in the "Question" tab.</strong>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container" id="myapp">
            <ul>
                <li><a href="#p1" class="bold">Demo</a></li>
                <li><a href="#p2" class="bold">Question</a></li>
            </ul>
            
            <div id="p1">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="h4 question" style="font-weight: normal">
                            <p>
                                A partially prestressed concrete beam has the rectangular cross-section (width: {{prob.width}} mm, height: {{prob.height}} mm), and its profile is shown in the Figure. Both prestress steel and conventional steel are assumed to be perfect plastic.
                            </p>
                            <p>
                                The area of each conventional steel bar is {{prob.as}} mm<sup>2</sup>. The area of prestressed tendon is {{prob.ap}} mm<sup>2</sup>. Distance from the centroid of the tendon to the top the concrete is {{prob.dp}} mm. Distrance from the centroid of the bottom layer of reinforcement to the bottom edge of the beam is {{prob.cover}} mm. Other properties for the concrete and steel are
                            </p>
                            <ul style="margin-top: 1em; margin-bottom: 1em;">
                                <li>\( f_{c}= \) {{prob.fc}} MPa</li>
                                <li>\( f_{py}= \) {{prob.fpy}} MPa</li>
                                <li>\( f_{pe}= \) {{prob.fsy}} MPa</li>
                                <li>\( E_{c}= \) {{prob.ec}} MPa</li>
                                <li>\( E_{p}= \) {{prob.ep}} MPa</li>
                                <li>\( E_{s}= \) {{prob.es}} MPa</li>
                                <li>\( \gamma= \) {{prob.gamma}}</li>
                                <li>\( P_{e}= \) {{prob.pe}} kN</li>
                            </ul>
                            <p>
                                The beam has
                                <select onchange="toSelect(event, 'top');">
                                    <option selected>2</option>
                                    <option>3</option>
                                </select> bars on the top and 
                                <select onchange="toSelect(event, 'btm');">
                                    <option selected>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select> at the bottom.<br/><br/>
                                You can change the profile by selecting different number of bars<br/><br/>
                            </p>
                            <p id="ready">
                                Click START button to start the process for calculating ultimate moment capacity
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="h4 question">
                            <div id="svg-block" style="width: 250px; height: 450px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button class="btn btn-primary" v-on:click="start($event);">Click Here to Start</button>
                        <section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        In the following, the FBD under ultimate moment is shown on the left, strain distribution at transfer and under ultimate moment are shown at the middle and on the right, respectively.
                                    </p>
                                </div>
                                <div class="col-sm-12">
                                    <div id="svg-stress" style="width: 600px; height: 300px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-12">
                                    <p>
                                        At ultimate moment, strain at the top fiber of the concrete is assumed to be 0.003.
                                    </p>
                                    <p>
                                        <strong>Step 1: Assume the top reinforcement is NOT at yield</strong>
                                    </p>
                                    <ul style="font-style: italic;">
                                        <li>&epsilon;<sub>s,top</sub> = 0.003 &times; (d<sub>N</sub> - 50) / d<sub>N</sub></li>
                                        <li>C<sub>s</sub> = E<sub>s</sub> &times; &epsilon;<sub>s,top</sub> &times; A<sub>s,top</sub></li>
                                        <li>C<sub>c</sub> = 0.85 &times; f<sub>c</sub> &times; b &times; &gamma; &times; d<sub>N</sub></li>
                                    </ul>
                                    <p>
                                        <strong>And assume the bottom reinforcement and prestress tendom are all at yield</strong>
                                    </p>
                                    <ul style="font-style: italic;">
                                        <li>T<sub>p</sub> = {{prob.fpy}} MPa &times; {{prob.ap}} mm<sup>2</sup> = {{prob.fpy * prob.ap / 1000}} kN</li>
                                        <li>T<sub>s</sub> = {{prob.fsy}} MPa &times; {{prob.as}} mm<sup>2</sup> &times; {{prob.n_btm}} = {{prob.fsy * prob.as * prob.n_btm / 1000}} kN</li>
                                    </ul>
                                    <p>
                                        Solve T<sub>p</sub> + T<sub>s</sub> = C<sub>c</sub> + C<sub>s</sub> for d<sub>N</sub>, we have
                                    </p>
                                    <p>
                                        <strong>d<sub>N</sub> = {{d}} mm</strong>, 
                                        <span v-if="(prob.height/2 - d) < 251">
                                            neutral axis moves up {{Number((prob.height/2 - d).toFixed(2))}} mm &lt; 251 mm
                                        </span>
                                        <span v-else>
                                            neutral axis moves up {{Number((prob.height/2 - d).toFixed(2))}} mm &ge; 251 mm, please refresh the page and chose another profile setup
                                        </span>
                                    </p>
                                    <button class="btn btn-primary" v-on:click="step2($event);">Next Step</button>
                                </div>
                            </div>
                        </section>
                        <section style="display: none;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <strong>Step 2. Check if the above assumption is correct.</strong>
                                    </p>
                                    <ul style="font-style: italic;">
                                        <li>&epsilon;<sub>sy</sub> = f<sub>sy</sub> / E<sub>s</sub> = {{prob.fsy}} MPa / {{prob.es}} MPa = <strong>0.0025</strong></li>
                                        <li>&epsilon;<sub>py</sub> = f<sub>py</sub> / E<sub>p</sub> = {{prob.fpy}} MPa / {{prob.ep}} MPa = <strong>0.008</strong></li>
                                    </ul>
                                    <p>For conventional reinforcement at both top and bottom:</p>
                                    <ul style="font-style: italic;">
                                        <li>&epsilon;<sub>s,top</sub> = 0.003 &times; ({{d}} - 50) / {{d}} = {{Number((0.003 * (d - 50) / d).toFixed(5))}} &lt; 0.0025, OK</li>
                                        <li>&epsilon;<sub>s,btm</sub> = 0.003 &times; ({{prob.height}} - {{d}} - 50) / {{d}} = {{s_s}} &gt; 0.0025, OK</li>
                                    </ul>
                                    <p>For prestress tendon, we have <span style="font-style: italic;">&epsilon;<sub>p</sub> = &epsilon;<sub>pe</sub> + &epsilon;<sub>ce</sub> + &epsilon;<sub>cp</sub></span></p>
                                    <ul style="font-style: italic;">
                                        <li>&epsilon;<sub>pe</sub> = &sigma;<sub>pe</sub> / E<sub>p</sub> = 1000 kN / {{prob.ep}} MPa = 0.00513</li>
                                        <li>&epsilon;<sub>ce</sub> = 0.00017 (refer to your lecture notes)</li>
                                        <li>&epsilon;<sub>cp</sub> = 0.003 &times; (d<sub>p</sub> - d<sub>N</sub>) / d<sub>N</sub> = {{Number((0.003 * (prob.dp - d) / d).toFixed(5))}}</li>
                                    </ul>
                                    <p>
                                        Therefore <span style="font-style: italic;">&epsilon;<sub>p</sub> = </span> {{s_p}} &gt; 0.008, OK
                                    </p>
                                    <button class="btn btn-primary" v-on:click="step3($event);">Next Step</button>
                                </div>
                            </div>
                        </section>
                        <section style="display: none;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <strong>Step 3. Ductility Check</strong>
                                    </p>
                                    <p>
                                        k<sub>uo</sub> = d<sub>N</sub> / d<sub>o</sub> = {{d}} / {{prob.height - prob.cover}} = {{Number((d / (prob.height - prob.cover)).toFixed(3))}}
                                    </p>
                                    <div v-if="Number((d / (prob.height - prob.cover)).toFixed(3)) >= 0.36">
                                        <br/>
                                        k<sub>uo</sub> &ge; 0.36
                                        <br/><br/>
                                        Ductility check is not OK. Please refresh the page and change a profile setup
                                    </div>
                                    <div v-else>
                                        <p>
                                            <br/>
                                            k<sub>uo</sub> &lt; 0.36
                                            <br/>
                                            Ductility check is OK. &phi; = 0.8
                                        </p>
                                        <p>
                                            Calculating ultimate moment M<sub>u</sub> by computing the sum of all the moment to the neutral axis
                                            <br/>
                                            Therefore, M<sub>u</sub> = <input id='mu' size="10"/> kNm (round to 0.1 kNm, press ENTER to continue)
                                            <br/>
                                            <span id="result-1" style="font-weight: bold;"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            
            <div id="p2">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="h4 question" style="font-weight: normal">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="h4 question">
                            <div id="svg-test" style="width: 250px; height: 450px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="script/vm.js?v=1"></script>
    <script type="text/javascript" src="script/event.js?v=1"></script>
</html>