body {
   margin: 0 2em;
}

canvas {
    background-color: #e0ffff;
    margin: auto; 
    display: block;
}

.tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border: none !important; 
}

.tabs-nohdr .ui-tabs-nav { 
    padding-left: 5px; 
    background: transparent; 
    border: none; 
    -moz-border: none; 
    -webkit-border: none;
}

.tabs-nohdr .ui-tabs-panel {
    border-top: 1px #D3D3D3 solid;
}

.no-bullet {
    list-style: none;
    padding-left: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: bold;
}

.ui-accordion-content {
    font-size: 16px;
    background-color: transparent;
    border: 0;
}