<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Finite Element Method Online"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Dr Xiaojun Chen"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Online</title>
        <link rel="shortcut icon" href="https://jununsw.github.io/res/favicon.ico" type="image/vnd.microsoft.icon"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        <script src="https://jununsw.github.io/res/three.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body onload="init(event);">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Application</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Option 1</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Option 2</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Option 3</a></li>
                            </ul>
                        </li>
                        <li><button type="button" class="btn btn-primary navbar-btn">Run <span class="glyphicon glyphicon-play"></span></button></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Option 4</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Option 5</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Option 6</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid" id="myapp">
            <div class="row">
                <div class="col-sm-4 panel">
                    <div class="tabs-nohdr" id="control-tabs">
                        <ul>
                            <li><a href="#tabs-geom" id="geometry-tab">Geometry</a></li>
                            <li><a href="#tabs-prop" id="property-tab" style="display: none;">Properties</a></li>
                        </ul>
                        
                        <div id="tabs-geom">
                            <form>
                                <div class="form-group">
                                    <label>Specimen Shape</label><br/>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="prism" v-model="shape" checked/>Prism
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="cylinder" v-model="shape">Cylinder
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Height: (mm)</label>
                                    <input type="text" class="form-control prism cylinder" v-model.number="height"/>
                                </div>
                                <div class="form-group">
                                    <label>{{(shape == 'prism') ? 'Width: (mm)' : 'Radius: (mm)'}}</label>
                                    <input type="text" class="form-control prism cylinder" v-model.number="x"/>
                                </div>
                                <div class="form-group" v-if="shape == 'prism'">
                                    <label>Length: (mm)</label>
                                    <input type="text" class="form-control prism" v-model.number="y"/>
                                </div>
                                <div class="form-group">
                                    <div class="radio">
                                        <label><input type="radio" name="boundary" v-model="property.boundary" value="1d">1d</label>
                                        <label><input type="radio" name="boundary" v-model="property.boundary" value="3d">3d</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" v-on:click="modelPlot">Plot Specimen</button>
                                </div>
                            </form>
                        </div>
                        
                        <div id="tabs-prop">
                            <p>Type</p>
                            <div class="radio">
                                <label><input type="radio" name="type" v-model="property.type" value="basic">Basic</label>
                                <label><input type="radio" name="type" v-model="property.type" value="fiber">Fiber-reinforced</label>
                            </div>
                            <hr/>
                            <div id="prop-accordion">
                                <h3>Microstructural-related</h3>
                                <div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Aggregate (% by mass)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Density of paste (kg/m<sup>3</sup>)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Porosity of paste (%)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr v-show="property.type=='fiber'">
                                                <td>Fiber Type</td>
                                                <td>
                                                    <select>
                                                        <option>Natural</option>
                                                        <option>PVA</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>Hydrates (g/kg of the material)</h3>
                                <div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Portlandite</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Monosulfate</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>C-S-H</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Ettringite</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Calcite</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr v-show="property.type=='fiber'">
                                                <td>Hydrogarnet</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr v-show="property.type=='fiber'">
                                                <td>Heavy-metal products<br/>(&times; 10<sup>-2</sup>)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>Ionic concentration (mmol/L of the pore solution)</h3>
                                <div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>OH<sup>-</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Na<sup>+</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>K<sup>+</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>SO<sub>4</sub><sup>2-</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Ca<sup>2+</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>Al(OH)<sub>4</sub><sup>-</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td>CO<sub>3</sub><sup>2-</sup></td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr v-show="property.type=='fiber'">
                                                <td>Heavy-metal ion<br/>(&times; 10<sup>-5</sup>)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                            <tr v-show="property.type=='fiber'">
                                                <td>Organic substances<br/>(&times; 10<sup>-4</sup>)</td>
                                                <td><input type="text" class="form-control"/></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-8">
                    <canvas id="canvas" width="800" height="800"></canvas>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="script/model.js"></script>
    <script type="text/javascript" src="script/controller.js"></script>
    <script type="text/javascript" src="script/event.js"></script>
</html>