body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.questions {
    font-weight: normal;
}

#main-body {
    margin: 20px;
    padding: 0px; 
    background: none;
}

.d {
    font-style: italic;
}