#id-bar {
    margin-top: 30px;
    margin-bottom: 30px; 
    margin-left: 20px;
}

#score-bar {
    margin-top: 30px; 
    margin-bottom: 30px; 
    margin-left: 20px; 
}

#main-body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px; 
    background: none; 
    border-width: 0px; 
}

#main-body .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

#main-body .ui-tabs-panel { 
    background: white; 
    border-width: 0px 0px 0px 0px; 
}

.question {
    width: 50%;
    float: left;
}

.figure {
    width: 50%;
    display: inline-block;
}

img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}